<!-- Testimonial section -->
			<section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>Ce que les gens disent</h2>
							</div>
							
							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
									<img src="http://gynecap-project-xcapo32.c9users.io/img/sol.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Kendra lust</span>
										<p>Je vous encourage !</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="http://gynecap-project-xcapo32.c9users.io/img/sol.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Lisa Ann</span>
										<p>ça m'a enormément aidé . :D </p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="http://gynecap-project-xcapo32.c9users.io/img/sol.jpg" alt="Our Clients">
									<div class="clearfix">
										<span>Katty Flower</span>
										<p>Formidable!</p>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			<!-- end Testimonial section -->
			