<!-- portfolio section -->
			<section id="portfolio">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Nos produits</h2>
						</div>
		
						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="http://gynecap-project-xcapo32.c9users.io/img/portfolio/gyn con.jpg" class="img-responsive" alt="Complément alimentaire , désir de grossesse">
								<figcaption class="mask">
									<p align="center">Gynecap conception</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Gynecap Conception" data-fancybox-group="works" href="http://gynecap-project-xcapo32.c9users.io/img/portfolio/gyn con.jpg"><i class="fa fa-search"></i></a></li>
									<li><a data-toggle="modal" data-target="#myModal"><i class="fa fa-file-text"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="http://gynecap-project-xcapo32.c9users.io/img/portfolio/gyn gross.jpg" class="img-responsive" alt="Compléméent alimentaire dédié aux femmes enceintes  ">
								<figcaption class="mask">
									<p align="center">Gynecap grossesse</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Gynecap grossesse" href="http://gynecap-project-xcapo32.c9users.io/img/portfolio/gyn gross.jpg" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
									<li><a data-toggle="modal" data-target="#myModal1"><i class="fa fa-file-text"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="http://gynecap-project-xcapo32.c9users.io/img/portfolio/gyn all.jpg" class="img-responsive" alt="Complément alimentaire dédié aux femmes allaitantes">
								<figcaption class="mask">
									<p align="center">Gynecap allaitement</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Gynecap allaitement" data-fancybox-group="works" href="http://gynecap-project-xcapo32.c9users.io/img/portfolio/gyn all.jpg"><i class="fa fa-search"></i></a></li>
									<li><a data-toggle="modal" data-target="#myModal2"><i class="fa fa-file-text"></i></a></li>
								</ul>
							</li>
							
						
						</ul>
						
					</div>
				</div>
			</section>
			
			<!-- end portfolio section -->
			
			

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="card">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#11" aria-controls="11" role="tab" data-toggle="tab">Formule</a></li>
					<li role="presentation"><a href="#12" aria-controls="12" role="tab" data-toggle="tab">Propriétés</a></li>
					<li role="presentation"><a href="#13" aria-controls="13" role="tab" data-toggle="tab">A qui conseiller notre produit?</a></li>
				</ul>
		</div>
      </div>
      <div class="modal-body">
      	
      	<div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="11">
              <h4>Le laboratoire GYNECAP PHARMA</h4>a mis au
				point une formule appuyée par des études
				cliniques et scientifi ques, répondant à ces
				facteurs aggravants, et ce, afi n d’optimiser les
				chances de concevoir chez la femme.<br>

			
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Formule</h3>
					</div>
					<table class="table table-hover" id="task-table">
						<thead>
							<tr>
								<th>PRINCIPES ACTIFS</th>
								<th>DOSES POUR UN COMPRIMÉ</th>
								<th>AJR*</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>VITAMINE C</td>
								<td>80 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE E</td>
								<td>12 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B6</td>
								<td>1,4 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B9</td>
								<td>200 µg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>CUIVRE</td>
								<td>1mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>ZINC</td>
								<td>10mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>MANGANESE</td>
								<td>2 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>SELENIUM</td>
								<td>25µg</td>
								<td>45%</td>
							</tr>
							<tr>
								<td>IODE</td>
								<td>150µg</td>
								<td>100%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
            <div role="tabpanel" class="tab-pane" id="12">
       
		
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">PROPRIÉTÉS</h3>
						<div class="pull-right">
						
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover" id="task-table">
					
						<tbody>
							
							<tr>
								<td>   <h4>VITAMINES C,E,CUIVRE,SELENIUM,MANGANESE</h4><br>
            CONTRIBUENT A AMELIORER LA FERTILITE EN DIMUNUANT LE STRESS OXYDATIF ET L'ETAT D'ANXIETE<br></td>
							
							</tr>
							<tr>
								<td> <h4>ZINC</h4><br>
            CONTRIBUE A UNE FERTILITE ET UNE REPRODUCTION NORMALE<br></td>
							</tr>
							<tr>
								<td><h4>IODE</h4><br>
             CONTRIBUE A LA PRODUCTION D'HORMONES THYROIDIENNES<br></td>
							</tr>
							<tr>
								<td><h4>VITAMINE B6</h4><br>
              FAVORISE L'OVULATION ET L'IMPLANTATION PLACENTAIRE<br></td>
							</tr>
							<tr>
								<td> <h4>VITAMINE B9(FOLATES)</h4><br>
               FACILITE L'IMPLANTATION DE L'OEUF</td>
							</tr>
							
							
								
								
						</tbody>
					</table>
				</div>
			
		

            </div>
            <div role="tabpanel" class="tab-pane" id="13"><h4>A QUI CONSEILLER NOTRE PRODUIT</h4><br>
<i>>Grâce au rôle de la vitamine B9 qui permet d’améliorer le
taux d’implantation de l’oeuf et la vitamine B6 qui favorise
l’ovulation, GYNECAP CONCEPTION® est recommandé à
toutes les femmes qui souhaitent concevoir un enfant.</i><br>
<i>GYNECAP CONCEPTION® est aussi recommandé à toutes
celles qui souhaitent concevoir et qui peuvent présenter
des facteurs aggravents tel que défi nit ci-dessus</i></div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="card">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#21" aria-controls="21" role="tab" data-toggle="tab">Formule</a></li>
				<li role="presentation"><a href="#22" aria-controls="22" role="tab" data-toggle="tab">Propriétés</a></li>
				<li role="presentation"><a href="#23" aria-controls="23" role="tab" data-toggle="tab">A qui conseiller notre produit?</a></li>
			</ul>
		</div>
      </div>
      <div class="modal-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="21">
              <h4>Le laboratoire GYNECAP PHARMA</h4> a mis au
point une formule appuyée par des études
cliniques et scientifi ques pour une grossesse
saine et sans carence.<br>

		
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Formule</h3>
						<div class="pull-right">
						
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover" id="task-table">
						<thead>
							<tr>
								
								<th>PRINCIPES ACTIFS</th>
								<th>DOSES POUR UNE CAPSULE</th>
								<th>AJR*</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>HUILE DE POISSON EPAX</td>
								<td>300 mg</td>
								<td></td>
							</tr>
							<tr>
								<td>DONT DHA</td>
								<td>150 mg</td>
								<td></td>
							</tr>
							<tr>
								<td>ACIDE FOLIQUE (VITAMINE B9)</td>
								<td>400 µg</td>
								<td>200%</td>
							</tr>
							<tr>
								<td>VITAMINE C</td>
								<td>80 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE E</td>
								<td>12 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B1</td>
								<td>1,1 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B2</td>
								<td>1,4 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B3</td>
								<td>16 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B5</td>
								<td>6 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B6</td>
								<td>1,4 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B7</td>
								<td>50 µg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B12</td>
								<td>50 µg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>FER</td>
								<td>14 mg</td>
								<td>100%</td>
							</tr>
								<tr>
								<td>CUIVRE</td>
								<td>1 mg</td>
								<td>100%</td>
							</tr>
								<tr>
								<td>ZINC</td>
								<td>10 mg</td>
								<td>100%</td>
							</tr>
								<tr>
								<td>MAGNESIUM</td>
								<td>60 mg</td>
								<td>16%</td>
							</tr>
								<tr>
								<td>MANGANESE</td>
								<td>2 mg</td>
								<td>100%</td>
							</tr>
								<tr>
								<td>IODE</td>
								<td>150 µg</td>
								<td>100%</td>
							</tr>
						</tbody>
					</table>
				</div>
			
		

	
			</div>
            <div role="tabpanel" class="tab-pane" id="22">
						
							<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">PROPRIÉTÉS</h3>
						<div class="pull-right">
						
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover" id="task-table">
					<thead>
							<tr>
								<th>Les vitamines et minéraux
indispensables pour la femme enceinte</th>
								<th>Les vitamines et minéraux indispensables
pour le bon développement du foetus</th>
								
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td>   VITAMINE B3<br>REDUIT LA FATIGUE</td>
								<td>VITAMINE B1<br> POUR LE BON DEVELOPPEMENT CEREBRAL DES FOETUS </td>
							
							</tr>
							<tr>
								<td>VITAMINE B6<br> AUGMENTE LE BON FONCTIONNEMENT DU SYSTEME IMMUNITAIRE</td>
								<td>VITAMINE B2<br>ASSURE LA FORMATION DES TISSUS SANGUINS ET GLOBULES ROUGES</td>
							</tr>
							<tr>
								<td>VITAMINE C<br>IMPORTANT POUR LE MAINTIEN DU PLACENTA</td>
								<td>VITAMINE E<br>PARTICIPE A L'ELABORATION DES TISSUS</td>
							</tr>
							<tr> 
								<td>FER<br>REDUIT LE RISQUE D'ANEMIE</td>
								<td>VITAMINE B8,B12<br>IMPORTANTES DANS LE FONCTIONNEMENT DES CELLULES NERVEUSES</td>
							</tr>
							<tr>
								<td> MAGNESIUM<br>PREVIENT DE L'AUGMENTATION DE LA PRESSION SANGUINE</td>
								<td>OMEGA 3<br>CONTRIBUENT AU FONCTIONNEMENT NORMAL DU CERVEAU ET DES YEUX</td>
							</tr>
							<tr>
							    <td>VITAMINE C&E<br>PROTECTION CARDIO VASCULAIRE</td>
							    <td></td>
							</tr>
							
							
								
								
						</tbody>
					</table>
				</div>
		
								
								
						
					
				</div>
            <div role="tabpanel" class="tab-pane" id="23"><h4>A QUI CONSEILLER NOTRE PRODUIT</h4><br><i>Recommandé à toutes les femmes enceintes.</i></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>			

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div class="card">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#31" aria-controls="31" role="tab" data-toggle="tab">Formule</a></li>
				<li role="presentation"><a href="#32" aria-controls="32" role="tab" data-toggle="tab">Propriétés</a></li>
				<li role="presentation"><a href="#33" aria-controls="33" role="tab" data-toggle="tab">A qui conseiller notre produit?</a></li>
			</ul>
		</div>
      </div>
      <div class="modal-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="31">
          <i> Le lait maternel est complexe, inimitable,
vivant et frais, il passe de la mère à l’enfant
sans intermédiaire.
Il contribue à la maturation du système digestif,
immunitaire et au développement physique
et intellectuel du nourrisson.
Malheureusement, certaines femmes n’ont
pas assez de lait ou présentent des carences
en vitamines & minéraux, indispensables
au développement et à la croissance du
nourrisson.</i><br>
<strong><h4>Le laboratoire GYNECAP PHARMA</h4> a mis
au point une formule innovante appuyée
par des études cliniques et scientifi ques
qui comble les carences et favorise une
meilleure lactation.</strong>
<br>

		
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Formule</h3>
						<div class="pull-right">
						
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover" id="task-table">
						<thead>
							<tr>
								
								<th>PRINCIPES ACTIFS</th>
								<th>DOSES POUR UNE GELULE</th>
								<th>AJR*</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td>ACIDE FOLIQUE (VITAMINE B9)</td>
								<td>200 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE C</td>
								<td>80 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE B12</td>
								<td> 2.5 µg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE D3</td>
								<td>5 µg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>VITAMINE K</td>
								<td>75 µg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>FER</td>
								<td>14 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>CUIVRE</td>
								<td>1 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>ZINC</td>
								<td>10 mg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>CALCIUM</td>
								<td>200 mg</td>
								<td></td>
							</tr>
							<tr>
								<td>IODE</td>
								<td>150 µg</td>
								<td>100%</td>
							</tr>
							<tr>
								<td>POUDRE DE FENOUIL<br>(FOENICULUM VULGARE)</td>
								<td>150 mg</td>
								<td></td>
							</tr>
								<tr>
								<td>LEVURE DE BIERE</td>
								<td>20 mg</td>
								<td></td>
							</tr>
								
								
						</tbody>
					</table>
				</div>
			
		


			</div>
            <div role="tabpanel" class="tab-pane" id="32">
							<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">PROPRIÉTÉS</h3>
						<div class="pull-right">
						
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover" id="task-table">
				
						<tbody>
							
							<tr>
								<td>POURDRE DE FENOUIL ET DE LEVURE DE BIERE<br>AUGMENTE LA SECRETION DE LAIT</td>
							
							</tr>
							<tr>
								<td>FER<br> CONTRIBUE A LA FORMATION NORMALE DES GLOBULES ROUGES ET D'HEMOGLOBINE AINSI QU'AUX TRANSPORTS NORMAL DE L'OXYGENE DANS L'ORGANISME </td>
							</tr>
							<tr>
								<td>CALCIUM & VITAMINE D<br>FAVORISENT LE CROISSANCE ET LE DEVELOPPEMENT OSSEUX</td>
							</tr>
							<tr> 
								<td>ZINC<br>AUGMENTE LA SYNTHESE DE L'ADN ET DU SYSTEME IMMUNITAIRE</td>
							</tr>
							<tr>
								<td>ACIDE FOLIQUE(VITAMINE B9)<br>CONTRIBUE A LA FORMATION NORMALE DU SANG ET DU SYSTEME IMMUNITAIRE </td>
							</tr>
							<tr>
							    <td>VITAMINE B12<br>EST D'UNE IMPORTANCE MAJEURE DANS LE FONCTIONNEMENT DES CELLULES NERVEUSES ET DE LA SYNTHESE DE L'ADN</td>
							</tr>	
							<tr>
							    <td>VITAMINE K<br>EST NECESSAIRE A LA COAGULATION DU SANG ET A LA PREVENTION DE CERTAINES MALADIES HEMORAGI</td>
							</tr>
							
							
								
								
						</tbody>
					</table>
				</div></div>
            <div role="tabpanel" class="tab-pane" id="33"><h4>A QUI CONSEILLER NOTRE PRODUIT</h4><br><i>Toutes les femmes allaitantes. Grâce à la présence de la levure de bière et la poudre de fenouil qui
favorise une meilleure lactation.
GYNECAP ALLAITEMENT® est recommandé à la maman qui a peu de sécrétion de lait.
PROPRIÉTÉS</i></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>			
			
			
			
			
				

  
  
  