<!-- portfolio section -->

<section id="portfolio">
  
  
  <div class="offcanvas-wrapper">
<!-- Page Content-->
<!-- Main Slider-->
<section class="hero-slider" style="background-image: url(http://themes.rokaux.com/unishop/img/hero-slider/main-bg.jpg);">
<div class="owl-carousel1 large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
<div class="item">
<div class="container1 padding-top-3x">
  <div class="row1 align-items-center">
    <div class="col-xs-12 col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
      <div class="from-bottom"><img class="d-inline-block w-200 mb-4" src="/../../img/logo03.png" alt="Converse">
        
      </div><a class="btn btn-primary scale-up delay-1" href="conception">Voir détails</a>
    </div>
    <div class="col-md-6 padding-bottom-2x mb-3"><img width="440px" class="d-block mx-auto" src="/../../img/3D Boite Conception.png" alt="Gynecap conception"></div>
  </div>
</div>
</div>
<div class="item">
<div class="container1 padding-top-3x">
  <div class="row1 align-items-center">
    <div class="col-xs-12 col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
      <div class="from-bottom"><img class="d-inline-block w-200 mb-4" src="/../../img/logo02.png" alt="Puma">
      
      </div><a class="btn btn-primary scale-up delay-1" href="grossesse">Voir détails</a>
    </div>
    <div class="col-md-6 padding-bottom-2x mb-3"><img width="440px" class="d-block mx-auto" src="/../../img/3D Boite Grossesse.png" alt="Gynecap grossesse"></div>
  </div>
</div>
</div>
<div class="item">
<div class="container1 padding-top-3x">
  <div class="row1 align-items-center">
    <div class="col-xs-12 col-lg-5 offset-lg-1 col-md-6 padding-bottom-2x text-md-left text-center">
      <div class="from-bottom"><img class="d-inline-block w-200 mb-4" src="/../../img/logo01.png"  alt="Motorola">
        
      </div><a class="btn btn-primary scale-up delay-1" href="allaittement">Voir détails</a>
    </div>
    <div class="col-md-6 padding-bottom-2x mb-3"><img width="440px" class="d-block mx-auto" src="/../../img/3D Boite Allaitement.png" alt="Gynecap allaittement"></div>
  </div>
</div>
</div>
</div>
</section>
</div>
<!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-arrow1-up"></i></a>
<!-- Backdrop-->
<div class="site-backdrop"></div>

<!--  <div class="row">-->
<!--    <div class="col-6 col-md-4"></div>-->


<!--    <div class="col-6 col-md-4">-->
<!--      <h1>-->
<!--        <a href="" class="typewrite" data-period="2000" data-type='[ "Découvrez tous nos produits." , "Gynecap pharma le laboratoire de la femme"]'>-->
<!--    <span class="wrap"></span>-->
<!--  </a>-->
<!--      </h1>-->
<!--    </div>-->


<!--  </div><br>-->
<!-- <article class="article1">-->
<!--    <a href="#car">-->
<!--    <a href="#seite1" data-toggle="tab" aria-controls="seite1" role="tab">-->
      
<!--      <div class="item-wrapper">-->
<!--        <figure class="fig">-->
<!--          <img class="img-responsive" alt="" src="/../../img/3D Boite Conception.png" />-->
<!--          <div class="lighting"></div>-->
<!--        </figure>-->
<!--        <div class="item-content">-->


<!--        </div>-->
<!--      </div>-->
<!--      <br><br>-->
<!--    </a>-->
<!--    </a>-->
<!--  </article>-->
<!--  <article class="article1">-->
<!--    <a href="#seite2" data-toggle="tab" aria-controls="seite2" role="tab">-->
<!--      <a href="#car">-->
<!--      <div class="item-wrapper">-->
<!--        <figure class="fig">-->
<!--          <img class="img-responsive" alt="" src="/../../img/3D Boite Grossesse.png" />-->
<!--          <div class="lighting"></div>-->
<!--        </figure>-->
<!--        <div class="item-content">-->


<!--        </div>-->
<!--      </div>-->
<!--      <br><br>-->
<!--    </a>-->
<!--    </a>-->
<!--  </article>-->
<!--  <article class="article1">-->
<!--    <a href="#seite3" data-toggle="tab" aria-controls="seite3" role="tab">-->
<!--      <a href="#car">-->
<!--      <div class="item-wrapper">-->
<!--        <figure class="fig">-->

<!--          <img class="img-responsive" alt="" src="/../../img/3D Boite Allaitement.png" />-->

<!--          <div class="lighting"></div>-->

<!--        </figure>-->

<!--        <div class="item-content">-->


<!--        </div>-->
<!--      </div>-->
<!--    </a>-->
<!--    </a>-->
<!--    <br><br>-->

<!--  </article>-->
<!--  <div class="col-8 col-md-4">-->
<!--  <a href="#" type="button" class="btn btn-default "><h2>Consultez nos produits </h2><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>-->

<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->

<!-------------  <div id="car">
  <div class="row">

    <div class="col-md-12 tab-content" >
      
      <div role="tabpanel" class="tab-pane fade in active" id="seite1">
        <article class="panel panel-default article">
          <header class="panel-heading">
            <h1 class="text-muted text-center"><span class="glyphicon glyphicon-pencil"></span> Conception</h1>
          </header>
          <div class="panel-body">
            
              
                <div class="col-xs-12 col-md-4">
                  <figure><img class="img-responsive img-rounded imgarticle" alt="image" width="400px" src="/../../img/3D Boite Conception.jpg" />

                  </figure>
                </div>
                <div class="col-xs-12 col-md-8">

                  <section class="jk-slider">
                    <div id="gc" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#gc" data-slide-to="0" class="active"></li>
                        <li data-target="#gc" data-slide-to="1"></li>
                        <li data-target="#gc" data-slide-to="2"></li>
                        <li data-target="#gc" data-slide-to="3"></li>
                        <li data-target="#gc" data-slide-to="4"></li>
                        <li data-target="#gc" data-slide-to="5"></li>

                      </ol>

                      <div class="carousel-inner">

                        <div class="item active">
                          <div class="hero">


                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_.jpg" /></a>

                        </div>
                        <div class="item">
                          <div class="hero">


                          </div>

                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_2.jpg" /></a>

                        </div>
                        <div class="item">
                          <div class="hero">


                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_3.jpg" /></a>

                        </div>
                        <div class="item">
                          <div class="hero">


                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_4.jpg" /></a>

                        </div>
                        <div class="item">
                          <div class="hero">


                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_5.jpg" /></a>

                        </div>

                        <div class="item">
                          <div class="hero">


                          </div>
                          <div class="overlay"></div>
                          <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/vU2DJea9ktc" frameborder="0" allowfullscreen></iframe>
                          </div>

                        </div>


                      </div>

                      <a class="left carousel-control" href="#gc" data-slide="prev">
                <span class="fa fa-arrow-left"></span>
              </a>
                      <a class="right carousel-control" href="#gc" data-slide="next">
                <span class="fa fa-arrow-right"></span>
              </a>
                    </div>

                  </section>
                </div>
                <br/>

              

            
          </div>
          
        </article>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="seite2">
        <article class="panel panel-default article">
          <header class="panel-heading">
            <h1 class="text-muted text-center"><span class="glyphicon glyphicon-pencil"></span> Grossesse</h1>
          </header>
          <div class="panel-body">
            
              
                <div class="col-xs-12 col-md-4">
                  <figure class="pull-left "><img class="img-responsive img-rounded imgarticle" width="400px" alt="image" src="/../../img/3D Boite Grossesse.jpg" />
                    
                  </figure>
                </div>
                <div class="col-xs-12 col-md-8">

                  <section class="jk-slider">
                    <div id="gg" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#gg" data-slide-to="0" class="active"></li>
                        <li data-target="#gg" data-slide-to="1"></li>
                        <li data-target="#gg" data-slide-to="2"></li>
                        <li data-target="#gg" data-slide-to="3"></li>
                        <li data-target="#gg" data-slide-to="4"></li>
                        <li data-target="#gg" data-slide-to="5"></li>
                        <li data-target="#gg" data-slide-to="6"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="item active">
                          <div class="hero">
                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_.jpg" /></a>
                        </div>
                        <div class="item">
                          <div class="hero">
                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_2.jpg" /></a>
                        </div>
                        <div class="item">
                          <div class="hero">
                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_6.jpg" /></a>
                        </div>
                        <div class="item">
                          <div class="hero">
                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_7.jpg" /></a>
                        </div>
                        <div class="item">
                          <div class="hero">
                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_8.jpg" /></a>
                        </div>
                        <div class="item">
                          <div class="hero">
                          </div>
                          <div class="overlay"></div>
                          <a href="#"><img src="/../../img/res/ADV_Final_9.jpg" /></a>
                        </div>

                        <div class="item">
                          <div class="hero">
                          </div>
                          <div class="overlay"></div>
                          <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/U55mBByjix" frameborder="0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                      <a class="left carousel-control" href="#gg" data-slide="prev">
                <span class="fa fa-arrow-left"></span>
              </a>
                      <a class="right carousel-control" href="#gg" data-slide="next">
                <span class="fa fa-arrow-right"></span>
              </a>
                    </div>
                  </section>
                </div>
             
            
          </div>
          
        </article>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="seite3">
        <article class="panel panel-default article">
          <header class="panel-heading">
            <h1 class="text-muted text-center"><span class="glyphicon glyphicon-pencil"></span> Allaitement</h1>
          </header>
          <div class="panel-body">
            
              
                <div class="col-xs-12 col-md-4">
                  <figure class="pull-left "><img class="img-responsive img-rounded imgarticle" width="400px" alt="image" src="/../../img/3D Boite Allaitement.jpg" />
                    
                  </figure>
                </div>
                <div class="col-xs-12 col-md-8">
            <section class="jk-slider">
              <div id="ga" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#ga" data-slide-to="0" class="active"></li>
                  <li data-target="#ga" data-slide-to="1"></li>
                  <li data-target="#ga" data-slide-to="2"></li>
                  <li data-target="#ga" data-slide-to="3"></li>
                  <li data-target="#ga" data-slide-to="4"></li>
                  <li data-target="#ga" data-slide-to="5"></li>
                  <li data-target="#ga" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="hero">
                    </div>
                    <div class="overlay"></div>
                    <a href="#"><img src="/../../img/res/ADV_Final_.jpg" /></a>
                  </div>
                  <div class="item">
                    <div class="hero">
                    </div>
                    <div class="overlay"></div>
                    <a href="#"><img src="/../../img/res/ADV_Final_2.jpg" /></a>

                  </div>
                  <div class="item">
                    <div class="hero">


                    </div>
                    <div class="overlay"></div>
                    <a href="#"><img src="/../../img/res/ADV_Final_10.jpg" /></a>

                  </div>
                  <div class="item">
                    <div class="hero">
                    </div>
                    <div class="overlay"></div>
                    <a href="#"><img src="/../../img/res/ADV_Final_11.jpg" /></a>
                  </div>
                  <div class="item">
                    <div class="hero">
                    </div>
                    <div class="overlay"></div>
                    <a href="#"><img src="/../../img/res/ADV_Final_12.jpg" /></a>
                  </div>
                  <div class="item">
                    <div class="hero">
                    </div>
                    <div class="overlay"></div>
                    <a href="#"><img src="/../../img/res/ADV_Final_13.jpg" /></a>
                  </div>
                  
                  <div class="item">
                    <div class="hero">
                    </div>
                    <div class="overlay"></div>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/dh-SxRItM0c" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                  
                </div>
                <a class="left carousel-control" href="#ga" data-slide="prev">
                <span class="fa fa-arrow-left"></span>
              </a>
                <a class="right carousel-control" href="#ga" data-slide="next">
                <span class="fa fa-arrow-right"></span>
              </a>
              </div>

            </section>
          </div>
                
              
            
          </div>
        </article>
      </div> 

    </div>
  </div>
  </div>----->





  <!--<div id="conception">-->
  <!--  <br/>-->
  <!--  <br/>-->
  <!--<section >-->
  <!--  <div class="card card-2">-->
  <!--    <br/>-->
  <!--    <div class="container">-->




  <!--      <img class="img-responsive" alt="" src="/../../img/3D Boite Conception.png" />-->



  <!--    </div>-->
  <!--    <br>-->

  <!--    <br>-->
  <!--    <div class=".col-xs-12 .col-sm-6 .offset-sm-3">-->
  <!--      <font color="#29364A"> <strong><h2>Pourquoi Gynecap Conception ?</h2></strong></font>-->
  <!--    </div>-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->

  <!--        <div class="col-md-7 col-md-offset-0 col-xs-12 col-xs-offset-0 nopadding">-->

  <!--           16:9 aspect ratio -->
  <!--          <div class="embed-responsive embed-responsive-16by9">-->
  <!--            <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/vU2DJea9ktc" frameborder="0" allowfullscreen></iframe>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="col-md-5 col-xs-12">-->
  <!--          <br/>-->
  <!--          <section class="jk-slider">-->
  <!--            <div id="gc" class="carousel slide" data-ride="carousel">-->
  <!--              <ol class="carousel-indicators">-->
  <!--                <li data-target="#gc" data-slide-to="0" class="active"></li>-->
  <!--                <li data-target="#gc" data-slide-to="1"></li>-->
  <!--                <li data-target="#gc" data-slide-to="2"></li>-->
  <!--                <li data-target="#gc" data-slide-to="3"></li>-->
  <!--                <li data-target="#gc" data-slide-to="4"></li>-->

  <!--              </ol>-->

  <!--              <div class="carousel-inner">-->

  <!--                <div class="item active">-->
  <!--                  <div class="hero">-->


  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_.jpg" /></a>-->

  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->


  <!--                  </div>-->

  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_2.jpg" /></a>-->

  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->


  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_3.jpg" /></a>-->

  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->


  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_4.jpg" /></a>-->

  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->


  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_5.jpg" /></a>-->

  <!--                </div>-->


  <!--              </div>-->

  <!--              <a class="left carousel-control" href="#gc" data-slide="prev">-->
  <!--              <span class="fa fa-arrow-left"></span>-->
  <!--            </a>-->
  <!--              <a class="right carousel-control" href="#gc" data-slide="next">-->
  <!--              <span class="fa fa-arrow-right"></span>-->
  <!--            </a>-->
  <!--            </div>-->

  <!--          </section>-->
  <!--        </div>-->

  <!--      </div>-->


  <!--    </div>-->
  <!--  </div>-->
  <!--  <br/>-->
  <!--  <br/>-->
  <!--</section>-->
  <!--</div>-->
  <!--<div id="grossesse">-->
  <!--  <br/>-->
  <!--  <br/>-->
  <!--  <section>-->
  <!--    <div class="card card-2">-->
  <!--      <br/>-->
  <!--      <div class="container">-->
  <!--        <img class="img-responsive" alt="" src="/../../img/3D Boite Grossesse.png" />-->
  <!--      </div>-->
  <!--      <br>-->
  <!--      <br>-->
  <!--      <div class=".col-xs-12 .col-sm-6 .offset-sm-3">-->
  <!--        <font color="#29364A"> <strong><h2>Pourquoi Gynecap Grossesse ?</h2></strong></font>-->
  <!--      </div>-->
  <!--      <div class="container">-->
  <!--        <div class="row">-->
  <!--          <div class="col-md-7 col-md-offset-0 col-xs-12 col-xs-offset-0 nopadding">-->
  <!--            16:9 aspect ratio-->
  <!--            <div class="embed-responsive embed-responsive-16by9">-->
  <!--              <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/U55mBByjix" frameborder="0" allowfullscreen></iframe>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--          <div class="col-md-5 col-xs-12">-->
  <!--            <br/>-->
  <!--            <section class="jk-slider">-->
  <!--              <div id="gg" class="carousel slide" data-ride="carousel">-->
  <!--                <ol class="carousel-indicators">-->
  <!--                  <li data-target="#gg" data-slide-to="0" class="active"></li>-->
  <!--                  <li data-target="#gg" data-slide-to="1"></li>-->
  <!--                  <li data-target="#gg" data-slide-to="2"></li>-->
  <!--                  <li data-target="#gg" data-slide-to="3"></li>-->
  <!--                  <li data-target="#gg" data-slide-to="4"></li>-->
  <!--                  <li data-target="#gg" data-slide-to="5"></li>-->
  <!--                  <li data-target="#gg" data-slide-to="6"></li>-->
  <!--                </ol>-->
  <!--                <div class="carousel-inner">-->
  <!--                  <div class="item active">-->
  <!--                    <div class="hero">-->
  <!--                    </div>-->
  <!--                    <div class="overlay"></div>-->
  <!--                    <a href="#"><img src="/../../img/res/ADV_Final_.jpg" /></a>-->
  <!--                  </div>-->
  <!--                  <div class="item">-->
  <!--                    <div class="hero">-->
  <!--                    </div>-->
  <!--                    <div class="overlay"></div>-->
  <!--                    <a href="#"><img src="/../../img/res/ADV_Final_2.jpg" /></a>-->
  <!--                  </div>-->
  <!--                  <div class="item">-->
  <!--                    <div class="hero">-->
  <!--                    </div>-->
  <!--                    <div class="overlay"></div>-->
  <!--                    <a href="#"><img src="/../../img/res/ADV_Final_6.jpg" /></a>-->
  <!--                  </div>-->
  <!--                  <div class="item">-->
  <!--                    <div class="hero">-->
  <!--                    </div>-->
  <!--                    <div class="overlay"></div>-->
  <!--                    <a href="#"><img src="/../../img/res/ADV_Final_7.jpg" /></a>-->
  <!--                  </div>-->
  <!--                  <div class="item">-->
  <!--                    <div class="hero">-->
  <!--                    </div>-->
  <!--                    <div class="overlay"></div>-->
  <!--                    <a href="#"><img src="/../../img/res/ADV_Final_8.jpg" /></a>-->
  <!--                  </div>-->
  <!--                  <div class="item">-->
  <!--                    <div class="hero">-->
  <!--                    </div>-->
  <!--                    <div class="overlay"></div>-->
  <!--                    <a href="#"><img src="/../../img/res/ADV_Final_9.jpg" /></a>-->
  <!--                  </div>-->

  <!--                  <div class="item">-->
  <!--                    <div class="hero">-->
  <!--                    </div>-->
  <!--                    <div class="overlay"></div>-->
  <!--                    <div class="embed-responsive embed-responsive-16by9">-->
  <!--                      <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/U55mBByjix" frameborder="0" allowfullscreen></iframe>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--                <a class="left carousel-control" href="#gg" data-slide="prev">-->
  <!--              <span class="fa fa-arrow-left"></span>-->
  <!--            </a>-->
  <!--                <a class="right carousel-control" href="#gg" data-slide="next">-->
  <!--              <span class="fa fa-arrow-right"></span>-->
  <!--            </a>-->
  <!--              </div>-->
  <!--            </section>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <br/>-->
  <!--    <br/>-->
  <!--  </section>-->
  <!--</div>-->
  <!--<div id="all">-->
  <!--  <br/>-->
  <!--  <br/>-->
  <!--<section >-->
  <!--  <div class="card card-2">-->
  <!--    <br/>-->
  <!--    <div class="container">-->
  <!--      <img class="img-responsive" alt="" src="/../../img/3D Boite Allaitement.png" />-->
  <!--    </div>-->
  <!--    <br>-->
  <!--    <div class=".col-md-6 .offset-md-3">-->
  <!--      <font color="#29364A"> <strong><h2>Pourquoi Gynecap Allaitement ?</h2></strong></font>-->
  <!--    </div>-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-7 col-md-offset-0 col-xs-12 col-xs-offset-0 nopadding">-->
  <!--           16:9 aspect ratio -->
  <!--          <div class="embed-responsive embed-responsive-16by9">-->
  <!--            <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/dh-SxRItM0c" frameborder="0" allowfullscreen></iframe>-->
  <!--          </div>-->
  <!--          <br>-->
  <!--        </div>-->
  <!--        <div class="col-md-5 col-xs-12">-->
  <!--          <br/>-->
  <!--          <section class="jk-slider">-->
  <!--            <div id="ga" class="carousel slide" data-ride="carousel">-->
  <!--              <ol class="carousel-indicators">-->
  <!--                <li data-target="#ga" data-slide-to="0" class="active"></li>-->
  <!--                <li data-target="#ga" data-slide-to="1"></li>-->
  <!--                <li data-target="#ga" data-slide-to="2"></li>-->
  <!--                <li data-target="#ga" data-slide-to="3"></li>-->
  <!--                <li data-target="#ga" data-slide-to="4"></li>-->
  <!--                <li data-target="#ga" data-slide-to="5"></li>-->
  <!--                <li data-target="#ga" data-slide-to="6"></li>-->
  <!--              </ol>-->
  <!--              <div class="carousel-inner">-->
  <!--                <div class="item active">-->
  <!--                  <div class="hero">-->
  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_.jpg" /></a>-->
  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->
  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_2.jpg" /></a>-->

  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->


  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_10.jpg" /></a>-->

  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->
  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_11.jpg" /></a>-->
  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->
  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_12.jpg" /></a>-->
  <!--                </div>-->
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->
  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <a href="#"><img src="/../../img/res/ADV_Final_13.jpg" /></a>-->
  <!--                </div>-->
                  
  <!--                <div class="item">-->
  <!--                  <div class="hero">-->
  <!--                  </div>-->
  <!--                  <div class="overlay"></div>-->
  <!--                  <div class="embed-responsive embed-responsive-16by9">-->
  <!--                    <iframe id="ytiframe" class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/dh-SxRItM0c" frameborder="0" allowfullscreen></iframe>-->
  <!--                  </div>-->
  <!--                </div>-->
                  
  <!--              </div>-->
  <!--              <a class="left carousel-control" href="#ga" data-slide="prev">-->
  <!--              <span class="fa fa-arrow-left"></span>-->
  <!--            </a>-->
  <!--              <a class="right carousel-control" href="#ga" data-slide="next">-->
  <!--              <span class="fa fa-arrow-right"></span>-->
  <!--            </a>-->
  <!--            </div>-->

  <!--          </section>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</section>-->
  <!--</div>-->
