<div class="col-xs-8 col-xs-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firtName">Firstname</label>
            <input 
                    type="text" 
                    id="firstName" 
                    name="firstName" 
                    class="form-control"
                    formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">First name</label>
            <input 
                    type="text" 
                    id="lastName" 
                    name="lastName" 
                    class="form-control"
                    formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Mail</label>
            <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    class="form-control"
                    formControlName="password">
        </div>
        <button 
                class="btn btn-primary" 
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div>