<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body"><img src="//gynecap-project-v3-xcapo32.c9users.io//img/gynecap sigle.svg"  height="65"></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qui sommes nous ?</a>
                       </li>
                        <li ><a href="#service" class="dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false" href="#">Produits<span class="caret"></span></a>
                        <ul class="dropdown-menu">
          <li><a href="//gynecap-project-v3-xcapo32.c9users.io/produit/gynecap-conception" onclick="window.location.href ='//gynecap-project-v3-xcapo32.c9users.io/produit/gynecap-conception'">Gynecap Conception</a></li>
          <li><a href="//gynecap-project-v3-xcapo32.c9users.io/produit/gynecap-grossesse" onclick="window.location.href ='//gynecap-project-v3-xcapo32.c9users.io/produit/gynecap-grossesse'">Gynecap Grossesse</a></li>
          <li><a href="//gynecap-project-v3-xcapo32.c9users.io/produit/gynecap-allaitement" onclick="window.location.href ='//gynecap-project-v3-xcapo32.c9users.io/produit/gynecap-allaitement'">Gynecap Allaittement</a></li>
        </ul>
                     </li>
                        <li><a href="#portfolio">Bibliographie</a></li>
                        <li><a href="#testimonials">Témoignages</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		