<!-- Service section -->
			<section id="service">
				<div class="fond-personnalise">
					
				<div class="container">
					
					<div class="row">
						<br>
						<br>
						<br>
					<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">Service</h2>
							<p class="wow animated bounceInRight">The Key Features of our Job</p>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-thumbs-up fa-3x"></i>
								</div>
								<h3>Efficacité et sécurité</h3>
								<p> Des tests cliniques ont prouvé l’efficacité de MATERNOV sans aucun danger pour la femme et le bébé  </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-medkit fa-3x"></i>
								</div>
								<h3>Disponible en pharmacie</h3>
								<p>Demandez conseil à votre pharmacien </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i><b>La France</b></i>
								</div>
								<h3>Fabriqué en France</h3>
								<p>Selon la charte de qualité Maternov <br>  Certification ECOCERT</p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									
									<i class="fa fa-comments fa-3x" ></i>
								</div>
								
								<h3>On parle de nous !</h3>
								<p>MATERNOV dans LES MATERNELLES</p>							
							</div>
						</div>
						
					</div>
					<br>
					<br>
					<br>
				</div>
				</div>
			</section>
			<!-- end Service section -->
			