<!-- Service section -->
			<section id="service">
				<div class="fond-personnalise">
		
				<div class="container">
					
					<div class="row">
						<br>
						<br>
						<br>
					
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-thumbs-up fa-3x"></i>
								</div>
								<h3>Efficacité et sécurité</h3>
								<p> la laboratoire Gynecap Pharma a mis au point une formule appuyée par des études cliniques et scientifiques .</p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-medkit fa-3x"></i>
								</div>
								<h3>Disponible en pharmacie et grossistes</h3>
								<p>Tous les produits de la gamme Gynecap Pharma sont disponibles en pharmacie et parapharmacie et chez les grossistes. </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i><img class="icon icons8-France" width="50" height="50" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAq0lEQVRoQ+2Zuw2AMAxE7QkoWAeJDZCyIBtQMgGDQZFPH7uwjB41h8jd2RcnKskfTf7/wgKiFUQBFHAygIWcBLrhQ4G93K/la9e5WWADsx6LCa9PjQAWgAJYqJUQRWzqJSJ0oU4cFsJCcwyQxJ0vkpgkJomZB+b6Z3ubNkobbQywG2U3yrEK50K1CpjITHnKUP+js1GjA8JhXHBES4ACKOBkAAs5CXTD0yvwAbIIljHT/0QBAAAAAElFTkSuQmCC"></i>
								</div>
								<h3>Fabriqué en France</h3>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-question-circle fa-3x"></i>
								
								</div>
								
								<h3>Besoin d’aide ?</h3>
								<a href="#contact">	<i class="fa fa-info fa-3x"></i></a>
							</div>
						</div>
						
					</div>
					<br>
					<br>
					<br>
				</div>
				</div>
			</section>
			<!-- end Service section -->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      
		</div>
      </div>
      <div class="modal-body">
      
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  
</div>
	